* {
    margin: 0px;
    padding: 0px;
    height:max-content;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-bar {
    width: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightblue;
    box-shadow: 0px 4px 93px lightblue, 0px 1px 32px black;
}
.nav-bar .nav-links li {
    display: inline-block;
    padding: 8px;
    text-shadow: 0px 0px 21px navy;
    cursor: pointer;
}
.nav-bar .nav-links li:hover {
    background-color: navy;
    color: whitesmoke;
    border-radius: 8px;
    width: fit-content;
    text-align: center;
}
.nav-bar h1 {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 20px navy, 5px 5px 40px yellow;
    color: yellow;
    width: 200px;
    height: 50px;
    text-align: center;
    
}
.nav-bar ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar ul li img {
    width: 25px;
    align-items: center;
    background: none;
}

section {
    padding-top: 92px ;
}

div{
    width: 60%;
    height: 507px;
    float: left;
    padding: 100px;
    font-size: 29px;
    text-shadow: 0px 0px 32px black;
}

article{
    width: 40%;
    height: 507px;
    float: left;
}
